<div  style="background-color:#fcbf49;text-align:center;padding:10px;margin-top:7px;position: absolute; bottom:auto; width: 100%;position:relative;
bottom:0;">
<hr width="550px;" size="2" noshade color="black" />
    <h2>İletişim</h2>
    <p>
      Sitede bir sorun olması durumunda aşağıdaki adreslerden iletişime
      geçebilirsiniz.
    </p>
    <p><a href="mailto:info@gmail.com">Mail</a></p>
    <p><a href="tel:+90554555555">Telefon</a></p><br>
    © Murat Candan 2022
    <hr width="550px;" size="2" noshade color="black" />
</div>

</body>

</html>