{% extends "base.html" %} {% block content %}

<div style="text-align: center">
  <img
    style="margin: 10px"
    src="https://cdn.kadin.com/images/posts/9/3/6/620x400/para-biriktirmenin-yollari-header.png"
    height="300px"
    alt="Parabiriktir"
  />
  <h3>Bu uygulamada gelir - gider hesabınızı yapabilirsiniz.</h3>

  <p>
    Gelirlerinizi ve giderlerinizi girerek haftalık, aylık veya yıllık planlar
    oluşturabilirsiniz.
  </p>

  <p>Birikimlerinizi arttırarak geleceğinize yatırım yapın!</p>
</div>

{% endblock %}
